.genericButton {
	--button-height: 64px;
	background-color: var(--color-main);
	min-width: 64px;
	height: var(--button-height);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	filter: drop-shadow(var(--shadow-4px));
	cursor: pointer;
	color: var(--color-black);
	user-select: none;
	&>.top {
		pointer-events: none;
		background-color: inherit;
		min-width: 100%;
		min-height: var(--button-height);
		border-width: 4px;
		border-color: var(--color-black);
		border-style: solid;
		display: flex;
		justify-content: center;
		align-items: center;
		&>* {
			width: 40px;
			height: 40px;
		}
	}
	&>.bottom {
		background-color: inherit;
		filter: brightness(0.65);
		width: 100%;
		min-height: 8px;
		border-width: 0 4px 4px 4px;
		border-color: var(--color-black);
		border-style: solid;
	}
	&.pressed {
		&>.bottom {
			display: none;
		}
	}
	/* 버튼유형 */
	&.edit {
		background-color: var(--color-sub);
	}
	&.add {
		background-color: var(--color-green);
	}
	&.remove {
		background-color: var(--color-red);
	}
	&.quick {
		background-color: var(--color-yellow);
	}
	&.run {
		background-color: var(--color-gray);
	}
	@media screen and (max-width:800px) {
		--button-height:40px;
		&>.top {
			&>* {
				width: 24px;
				height: 24px;
			}
		}
	}
}